{% load static %}

<div class="questionBlock" id="{{ answer.id }}">
    <div class="avatarRatingQuestions col-3">
        <div class="avatarName">
            <img class="img-circle imgQuestionProfile" id="img_answer{{ answer.id }}" alt="Профиль пользователя"
                 src="{{ answer.author.user.profile.avatar.url }}">
            <div class="mar-btm usernameQuestion" id="name_answer{{ answer.id }}">
                <p>{{ answer.author.user.username }}</p>
            </div>
        </div>
        <div class="btn-group pad-ver">
            <a class="btn btn-sm btn-default btn-hover-success vote" data-id="{{ answer.id }}"
               data-action=1 data-model="answer" id="vote-up-a{{ answer.id }}"
                    {% if answer.id in context.answer_liked %}
               style="color: #0a53be"
                    {% endif %}
            ><i class="fa fa-thumbs-up"></i></a>
            {% if answer.rating < 0 %}
                <p class="countLikesDis" id="answer{{ answer.id }}">{{ answer.rating }}</p>
            {% endif %}
            {% if answer.rating > 0 %}
                <p class="countLikesPlus" id="answer{{ answer.id }}">{{ answer.rating }}</p>
            {% else %}
                <p class="countLikes" id="answer{{ answer.id }}">{{ answer.rating }}</p>
            {% endif %}
            <a class="btn btn-sm btn-default btn-hover-danger vote" data-id="{{ answer.id }}"
               data-action=-1 data-model="answer" id="vote-down-a{{ answer.id }}"
                    {% if answer.id in context.answer_disliked %}
               style="color: #0a53be"
                    {% endif %}
            ><i class="fa fa-thumbs-down"></i></a>
        </div>
    </div>
    <div class="questionInfo col-9">
        <p class="question" id="answer_text{{ answer.id }}">
            {{ answer.text }}
        </p>
        <div class="footerQuestion">
            <div class="form-check form-check-inline">
                {% if answer.is_correct %}
                    <input class="form-check-input correct" type="checkbox" name="inlineRadioOptions" id="correct{{ answer.id }}"
                       data-id="{{ answer.id }}"
                           checked="checked">
                {% else %}
                    <input class="form-check-input correct" type="checkbox" name="inlineRadioOptions" id="correct{{ answer.id }}"
                       data-id="{{ answer.id }}">
                {% endif %}

                <label class="form-check-label" for="inlineCheckbox">Correct</label>
            </div>
        </div>
    </div>
</div>