{% load static %}

<div class="questionBlock">
    <div class="avatarRatingQuestions col-3">
        <img class="img-circle imgQuestionProfile" alt="Профиль пользователя"
             src="{% static "img/user.jpg" %}">
        <div class="mar-btm usernameQuestion">
            <p>{{ answer.author.user.username }}</p>
        </div>
        <div class="btn-group pad-ver">
            <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            {% if answer.rating < 0 %}
                <p class="countLikesDis">{{ answer.rating }}</p>
            {% endif %}
            {% if answer.rating > 0 %}
                <p class="countLikesPlus">{{ answer.rating }}</p>
            {% endif %}
            {% if answer.rating == 0 %}
                <p class="countLikes">{{ answer.rating }}</p>
            {% endif %}
            <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
        </div>
    </div>
    <div class="questionInfo col-9">
        <p class="question">
            {{ answer.text }}
        </p>
        <div class="footerQuestion">
            <div class="form-check form-check-inline">
                {% if answer.is_correct %}
                    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckbox" checked="checked">
                {% else %}
                    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckbox">
                {% endif %}

                <label class="form-check-label" for="inlineCheckbox">Correct</label>
            </div>
        </div>
    </div>
</div>