{% load static %}

<div class="questionBlock">
    <div class="avatarRatingQuestions col-3">
        <a class="media-left" href="#"><img class="img-circle imgQuestionProfile" alt="Профиль пользователя"
                                            src="{% static "img/user.jpg" %}"></a>
        <div class="mar-btm">
            <p>Максим</p>
        </div>
        <div class="btn-group pad-ver">
            <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            <p class="countLikes">+5</p>
            <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
        </div>
    </div>
    <div class="questionInfo col-9">
        <p class="question">
            {{ answer.text }}
        </p>
        <div class="footerQuestion">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckbox">
                <label class="form-check-label" for="inlineCheckbox">Correct</label>
            </div>
        </div>
    </div>
</div>