{% load static %}

<div class="questionBlock">
    <div class="avatarRatingQuestions col-3">
        <img class="img-circle imgQuestionProfile" alt="Профиль пользователя" src="{% static "img/user.jpg" %}">
        <div class="mar-btm usernameQuestion">
            <p>{{ question.author.user.username }}</p>
        </div>
        <div class="btn-group pad-ver">
            <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
            {% if question.rating < 0 %}
                <p class="countLikesDis">{{ question.rating }}</p>
            {% endif %}
            {% if question.rating > 0 %}
                <p class="countLikesPlus">{{ question.rating }}</p>
            {% endif %}
            {% if question.rating == 0 %}
                <p class="countLikes">{{ question.rating }}</p>
            {% endif %}
            <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
        </div>
    </div>
    <div class="questionInfo col-9">
        <a href="{% url 'question' number=question.id %}" class="questionName">{{ question.title }}</a>
        <p class="question">{{ question.text }}</p>
        <div class="footerQuestion">
            <a href="{% url 'question' number=question.id %}" class="numberAnswers">answers({{ question.count_answers }})</a>
            <p class="questionTags">Tags:</p>
            {% for tag in question.tags.all %}
                <a href="{% url 'tag' name=tag %}" class="questionTag">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>