{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Ask
{% endblock title %}

{% block content %}
    <div class="col-9">

    <div class="questionHeaders d-flex align-items-center">
        <h2>New Question</h2>
    </div>

    <form class="row" novalidate method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="col-12 mb-3 signInBtns">
            {% buttons %}
                <button onclick='location.href="{% url 'question' 1 %}"' class="btn btn-outline-secondary" type="submit"><i class="fa fa-pencil"></i>Ask</button>
            {% endbuttons %}
        </div>
    </form>
</div>
{% endblock content %}
