{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Ask
{% endblock title %}

{% block content %}
    <div class="col-9">

    <div class="questionHeaders d-flex align-items-center">
        <h2>New Question</h2>
    </div>

    <form class="row g-3">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" maxlength="100" required>
        </div>

        <div>
            <label for="text" class="form-label">Text</label>
            <textarea class="form-control" id="text" placeholder="Text" maxlength="2000" rows="10" required></textarea>
        </div>

        <div>
            <label for="tags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="tags" placeholder="Tags" maxlength="200" required>
        </div>

        <div class="col-12 mb-3">
            <button onclick='location.href="{% url 'question' 1 %}"' class="btn btn-outline-secondary" type="submit"><i class="fa fa-pencil"></i>Ask</button>
        </div>
    </form>
</div>
{% endblock content %}
