{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Hot Questions
{% endblock title %}

{% block content %}
    <div class="col-9 listQuestions">
        <div class="questionHeaders d-flex align-items-center">
            <h2>Hot Questions</h2>
            <a href="{% url 'index' %}" class="hotQuestionsLink">New Questions</a>

        </div>

        {% for question in questions %}
            {% include "base/single_question.html" %}
        {% endfor %}

        {% include "base/paginator_questions.html" %}
    </div>
{% endblock content %}