{% extends "base/base.html" %}
{% load static %}

{% block title %}
    New Questions
{% endblock title %}

{% block content %}
    <div class="col-9 listQuestions">
        <div class="questionHeaders d-flex align-items-center">
            <h2>New Questions</h2>
            <a href="{% url 'hot' %}" class="hotQuestionsLink">Hot Questions</a>

        </div>

        {% for question in content %}
            {% include "base/single_question.html" %}
        {% endfor %}

        {% include "base/paginator.html" %}
    </div>
{% endblock content %}

{% block jscode %}
    <script src="{% static 'js/vote.js' %}"></script>
{% endblock jscode %}
