{% extends "base/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div class="col-9">
        <div class="questionHeaders d-flex align-items-center">
            <h2>Log In</h2>
        </div>
        <form novalidate class="g-3 d-flex flex-column" action="/login/" method="post">
            {% csrf_token %}
            <div class="col-6">
                {% bootstrap_form form %}
            </div>
            <div class="col-12 mb-3 signInBtns">
                <button onclick='location.href="{% url 'index' %}"' class="btn btn-outline-secondary" type="submit"><i class="fa fa-pencil"></i>Log In
                </button>

                <button class="btn btn-outline-secondary btnCreateNewAccount" type="button"
                        onclick='location.href="{% url 'signup' %}"'><i class="fa fa-pencil"></i>Create New Account
                </button>
            </div>
        </form>
    </div>
{% endblock content %}


