{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Question
{% endblock title %}

{% block content %}
    <div class="col-9">
        <div class="oneQuestion" id="">
            <div class="avatarRatingQuestions col-3">
                <div class="avatarName">
                    <img class="img-circle imgOneQuestionProfile" alt="Профиль пользователя"
                         src="{{ context.question.author.user.profile.avatar.url }}">
                    <div class="mar-btm">
                        <p class="usernameQuestion">{{ context.question.author.user.username }}</p>
                    </div>
                </div>
                <div class="btn-group pad-ver">
                    <a class="btn btn-sm btn-default btn-hover-success vote" data-id="{{ context.question.id }}"
                       data-action=1 data-model="question" id="vote-up-q{{ context.question.id }}"
                            {% if context.question_liked == 1 %}
                       style="color: #0a53be"
                            {% endif %}
                    ><i class="fa fa-thumbs-up"></i></a>
                    {% if context.question.rating < 0 %}
                        <p class="countLikesDis"
                           id="question{{ context.question.id }}">{{ context.question.rating }}</p>
                    {% endif %}
                    {% if context.question.rating > 0 %}
                        <p class="countLikesPlus"
                           id="question{{ context.question.id }}">{{ context.question.rating }}</p>
                    {% endif %}
                    {% if context.question.rating == 0 %}
                        <p class="countLikes" id="question{{ context.question.id }}">{{ context.question.rating }}</p>
                    {% endif %}
                    <a class="btn btn-sm btn-default btn-hover-danger vote" data-id="{{ context.question.id }}"
                       data-action=-1 data-model="question" id="vote-down-q{{ context.question.id }}"
                            {% if context.question_disliked %}
                       style="color: #0a53be"
                            {% endif %}
                    ><i
                            class="fa fa-thumbs-down"></i></a>
                </div>
            </div>
            <div class="questionInfo col-9">
                <div>
                    <p class="questionName">{{ context.question.title }}</p>
                    <p class="">{{ context.question.text }}</p>
                </div>
                <div class="footerQuestion">
                    <p class="questionTags">Tags:</p>
                    {% for tag in context.question.tags.all %}
                        <a href="{% url 'tag' name=tag %}" class="questionTag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>

        {% for answer in content %}
            {% include "base/single_answer.html" %}
        {% endfor %}

        <div id="new_answer" style="visibility: hidden; height: 0">
            {% if content.number == content.paginator.num_pages and context.new_answer == ""%}
                    {% include "base/single_answer.html" %}
            {% endif %}
        </div>

        <hr>

        {% if request.user.is_authenticated %}

            <form class="row mb-3" novalidate method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="col-12 mb-3 signInBtns">
                    {% buttons %}
                        <button
                                type="submit" class="btnAnswer btn-outline-secondary"><i class="fa fa-pencil"></i>Answer
                        </button>
                    {% endbuttons %}
                </div>
            </form>

        {% endif %}

        {% include "base/paginator.html" %}
    </div>
{% endblock content %}

{% block jscode %}
    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/correct.js' %}"></script>
    <script>
        var centrifuge = new Centrifuge('ws://127.0.0.1:8000/connection/websocket');

        centrifuge.setToken("{{ context.cent_token }}");

        centrifuge.subscribe("{{ context.cent_chan }}", function (message) {
            document.getElementById("new_answer").style.visibility = "visible";
            document.getElementById("new_answer").style.height = "auto";
            document.getElementById("img_answer").src = "../../uploads/user.jpg";
            document.getElementById("name_answer").innerHTML = message.data.answer.author;
            document.getElementById("answer").innerHTML = "0";
            document.getElementById("answer_text").innerHTML = message.data.answer.text;
            console.log(message.data.answer);
        });

        centrifuge.connect();
    </script>
{% endblock jscode %}

