{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Question
{% endblock title %}

{% block content %}
    <div class="col-9">
        <div class="oneQuestion">
            <div class="avatarRatingQuestions col-3">
                <img class="img-circle imgOneQuestionProfile" alt="Профиль пользователя"
                     src="{% static "img/user.jpg" %}">
                <div class="mar-btm">
                    <p class="usernameQuestion">{{ context.question.author.user.username }}</p>
                </div>
                <div class="btn-group pad-ver">
                    <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
                    <p class="countLikes">{{ context.question.rating }}</p>
                    <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
                </div>
            </div>
            <div class="questionInfo col-9">
                <div>
                    <p class="questionName">{{ context.question.title }}</p>
                    <p class="question">{{ context.question.text }}</p>
                </div>
                <div class="footerQuestion">
                    <p class="questionTags">Tags:</p>
                    {% for tag in context.question.tags.all %}
                        <a href="{% url 'tag' name=tag %}" class="questionTag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>

        {% for answer in content %}
            {% include "base/single_answer.html" %}
        {% endfor %}

        <hr>

        {% if request.user.is_authenticated %}

            <form class="row mb-3" novalidate method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div class="col-12 mb-3 signInBtns">
                    {% buttons %}
                        <button
                                type="submit" class="btnAnswer btn-outline-secondary"><i class="fa fa-pencil"></i>Answer
                        </button>
                    {% endbuttons %}
                </div>
            </form>

        {% endif %}

        {% include "base/paginator.html" %}
    </div>
{% endblock content %}

