{% extends "base/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Registration
{% endblock title %}

{% block content %}
    <div class="col-9">
        <div class="questionHeaders d-flex align-items-center">
            <h2>Registration</h2>
        </div>
        <form novalidate class="g-3 d-flex flex-column" method="post">
            {% csrf_token %}
            <div class="col-6">
                {% bootstrap_form form %}
            </div>
            <div class="col-12 mb-3 signInBtns">
                {% buttons %}
                    <button onclick='location.href="{% url 'index' %}"' class="btn btn-outline-secondary" type="submit"><i class="fa fa-pencil"></i>Register</button>
                {% endbuttons %}
            </div>
        </form>
    </div>
{% endblock content %}


